<!-- <div class="main-parent">
    <h1>I am Parent</h1>
</div> -->
<!-- <div>
    <app-child [myinputMsg]="myInputMessage"></app-child>
</div> -->
<!-- <div>
    <app-child [myinputMsg]="myInputMessage" (myOutput)="GetChildData($event)"></app-child>
</div> -->

<div style="text-align: center;">
    <h1>Welcome to {{title}}</h1>
    <h2>I am Parent</h2>
</div>
<!-- <app-child [myinputMsg]="myInputMessage"></app-child> -->
<!-- <div>
    <app-child [myinputMsg]="myInputMessage" (myOutput)="GetChildData($event)"></app-child>
</div> -->

<app-child (newItemEvent)='addItem($event)'> </app-child>
<ul>
    <li *ngFor='let item of items'>{{item}}</li>
</ul>