/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.apexcharts-series.apexcharts-radial-series path {
    stroke: #484848 !important;
    stroke-linecap: round !important;
}
